/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require _font-awesome
 */

$bodyBackground: #000;
$textColor: #ddd;
$baseFontSize: 48px;
$baseLineHeight: 64px;
$alternativeTextColor: #483;
$brand: #cd3;

@import "bootstrap";

@mixin avatar {
  background: #000;
  border-radius: 100%;
  width: 24vh;
  height: 24vh;
  border: 10px solid $brand;
  box-sizing: border-box;
}

@mixin flex-container {
  display: -webkit-flex;
}

@mixin flex-horizontal {
  @include flex-container;
  -webkit-flex-direction: row;
}

@mixin flex-vertical {
  @include flex-container;
  -webkit-flex-direction: column;
}

html, body, .page {
  height: 100vh;
}

body {
  background: #000 url(/images/type.png);

  // -webkit-user-select: none;
  cursor: default;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  
  &:hover {
    color: #fff;
    text-decoration: none;
    background: rgba(255,255,255,0.05);
	  border-top-color: #111;
    border-bottom-color: #333;
  }
  
  &:active {
    background: -webkit-linear-gradient(top, $alternativeTextColor, $brand 10%);
    color: #000;
  }
  
  &:focus {
    color: #eef;
    outline: 4px solid #eef; 
  }
}

.modal {
  top: 10vh;
  bottom: 10vh;
  left: 5vw;
  right: 5vw;
  margin: 0;
  max-width: none;
  max-height: none;
  width: auto;
  height: auto;
  font-family: 'Patrick Hand SC', cursive;
  background: #000 url(https://raw.github.com/subtlepatterns/SubtlePatterns/master/type.png);

  display: -webkit-flex;
  -webkit-flex-direction: column;
  border-radius: 1vh;
}

.modal-title {
  background: $brand;
  color: $alternativeTextColor;
  text-align: center;
  border: 0 none;
  border-radius: 1vh 1vh 0 0;
}

.modal-body {
  -webkit-flex:1;
  max-height:none;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}

.modal-footer {
  border-top: 0 none;
  box-shadow: none;
  padding: 0;
  background: rgba(255,255,255,0.05);
  border-radius: 0 0 1vh 1vh;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  text-align: center;
   a {
     -webkit-flex:1;
   }
}

.page-visual {
  background: #222;
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0) 25%), url(/images/dark_wood.png);
  -webkit-flex: 0 0 25%;
  border-bottom: 1px solid #444;
  position: relative;
}

@-webkit-keyframes challenge {
	0%   { background-position: 0 33vh; }
	100% { background-position: 0 0; }
}

.challenge {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  
  background-image: -webkit-linear-gradient(88deg, $brand 10%, $alternativeTextColor 40%, $alternativeTextColor 60%, $brand 90%);
  background-size: 100vw 33vh;
  
	-webkit-animation-name: challenge;
	-webkit-animation-duration: 0.2s;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
  
  -webkit-transition: 250ms ease opacity;
  
  .left, .right {
    position: absolute;
    opacity: 1;
  }
  
  .lines {
    position: absolute;
    top: 50%;
    width: 100vw;
    -webkit-transform: rotate(-15deg);
  }
  
  .line1, .line2 {
    position: absolute;
    top: 0;
    height: 3vh;
    background: $brand;
    left: 0;
    width: 100vw;
  }
  
  .line1 {
    height: 4.5vh;
    margin-top: -3vh;
    -webkit-transition: 80ms linear left, right;
  }
  
  .line2 {
    background: $alternativeTextColor;
    margin-top: 0;
    -webkit-transition: 80ms 60ms linear left, right;
  }
  
  .versus {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2vh;
    margin-left: -15vw;
    width: 30vw;
    line-height: 4vh;
    text-align: center;
    color: #000;
    font-size: 64px;
  }
  
  .left {
    left: -2vw;
    bottom: -2vh;
    -webkit-transition: 500ms ease-out all;
    
    img {
      -webkit-transform: rotate(15deg);
      margin-right: -8vh;
    }
  }
  
  .right {
    right: -2vw;
    top: -2vh;
    -webkit-transition: 500ms ease-out all;
    text-align: right;
    
    img {
      -webkit-transform: rotate(-15deg);
      margin-left: -8vh;
      border-color: $alternativeTextColor;
    }
  }
  
  img {
    @include avatar;
    position: relative;
    -webkit-transition: 500ms ease-out all;
    
    &:first-child {
      z-index: 1; 
    }
  }
}

.challenge-hide-active {
  opacity: 0;
}

.challenge-show {
  opacity: 0;
  
  &.challenge-show-enter {
    opacity: 1;
  }
  
  .line1 {
    left: -100vw;
  }
  
  .line2 {
    left: 100vw;
  }
  
  .left, .right {
    img {
      -webkit-transform: rotate(0);
    }
  }
  
  .left {
    left: -25vw;
    bottom: -15vh;
  }
  
  .right {
    right: -25vw;
    top: -15vh;
  }
}

.sunburst {
  position: relative;
  overflow: hidden;
  height: 30vh;
  
  canvas {
    display: block;
    width: 100%;
    background: $brand;
  }
  
  img {
    @include avatar;
    position: absolute;
    bottom: -10%;
    margin-left: -12vh;
    left: 50%;
  }
}

.sunburst2 {
  width: 100vw;
  height: 300px;
  overflow: hidden;
  background: #97102c;
  
  .outer {
    width: 1000px;
    height: 1000px;
    -webkit-animation-name: rotate1;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -moz-animation-name: rotate1;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
  }
  
  $sx: 45px;
  
  b {
    display: block;
    width: 0;
    height: 0;
    border-width: (2 * $sx) 100vw;
    margin: (-4 * $sx) (-50vw) 0 0;
    border-color: transparent #bf193c;
    border-style: solid;
  }
  
  b:nth-child(1) { -webkit-transform:rotate(20deg);  -moz-transform:rotate(20deg);  }
  b:nth-child(2) { -webkit-transform:rotate(40deg);  -moz-transform:rotate(40deg);  }
  b:nth-child(3) { -webkit-transform:rotate(60deg);  -moz-transform:rotate(60deg);  }
  b:nth-child(4) { -webkit-transform:rotate(80deg);  -moz-transform:rotate(80deg);  }
  b:nth-child(5) { -webkit-transform:rotate(100deg); -moz-transform:rotate(100deg); }
  b:nth-child(6) { -webkit-transform:rotate(120deg); -moz-transform:rotate(120deg); }
  b:nth-child(7) { -webkit-transform:rotate(140deg); -moz-transform:rotate(140deg); }
  b:nth-child(8) { -webkit-transform:rotate(160deg); -moz-transform:rotate(160deg); }
  b:nth-child(9) { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); }
}

.scoreboard {
  text-align: center;
  height: 30vh;
  display: -webkit-flex;
  -webkit-align-items: flex-end;
  -webkit-justify-content: center;
  
  svg {
    vertical-align: top;
    
    .bar {
      fill: $brand;
      shape-rendering: crispEdges;
    }
    
    text {
      font-size: 24px;
      opacity: 0.5;
      
      &.low {
        opacity: 1;
        fill: #fff;
      }
    }
  }
}

.page {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  font-family: 'Patrick Hand SC', cursive;
}

.statusbar {
  background: #080808;
  color: #fff;
  text-align: right;
  padding: 0 2vw;
  line-height: 48px;
  font-size: 32px;
}

.tasks-latest, .tasks-upcoming {
  -webkit-flex: 1;
  overflow: auto;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: stretch;
}

.tasks-upcoming {
  -webkit-flex: 3; 
}

.tasks .task {
  padding: 1vh 2vw;
  border-top: 1px solid #333;
  border-bottom: 1px solid #111;
  display: -webkit-flex;
  line-height: 64px;
  font-size: 48px;
  overflow-x: hidden;
  max-width: 100%;
  
  &:first-child {
    border-top-color: transparent;
  }
  
  &:last-child {
    border-bottom-color: transparent;
  }
}

.task-icon {
  display: block;
  width: 64px;
  height: 64px;
  background: #bbb;
  border-radius: 100%;
  text-align: center;
  border: 4px solid #888;
  color: #888;
  line-height: ($baseLineHeight - 2 * 4px);
  box-sizing: border-box;
  font-size: 32px;
  
  a:active & {
    background: #000; 
    border-color: #000;
    color: $brand;
  }
}

.task-text {
  -webkit-flex: 1 100;
  line-height: 1;
  padding: (($baseLineHeight - $baseFontSize) / 2) 2vw;
}

.task-author {
  padding: 0 2vw;
}

.task-author {
  .by {
    opacity: 0.5;
    font-size: 32px;
  } 
}

.task-reward {
  display: block;
  background: $brand;
  border-radius: 100%;
  width: $baseLineHeight;
  height: $baseLineHeight;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  -webkit-transform: rotate(-15deg);
  color: $alternativeTextColor;
  border: 8px dotted $alternativeTextColor;
  box-sizing: border-box;
  line-height: ($baseLineHeight - 2 * 8px);
  
  a:active & {
    background: #000;
    border-color: transparent;
    color: $brand;
  }

}

.task-meta {
  color: #555;
  padding: 0 2vw;
  font-size: 24px;
}

.task-detail-reward {
  text-align: center;

  .task-reward {
    display: inline-block;
    font-size: 150px; 
    height: 200px;
    width: 200px; 
    line-height: 200px - 2 * 8px;
  }
}

.task-headline {
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 64px;
  white-space: nowrap;
  background: #222;
  font-size: $baseFontSize * 0.75;
}

.more-tasks {
  text-align: center;
  padding: 2vh 0;
  
  a {
    box-shadow: 1px 1px #333, inset 1px 1px #333;
    border-radius: $baseLineHeight;
    border: 1px solid #111;
    padding: 0 $baseLineHeight;
    -webkit-align-self: center;
  }
}

.tasks-latest {
  $latestTaskLineHeight: $baseLineHeight * 0.75;
  
  .task {
    font-size: $baseFontSize * 0.75;
    line-height: $latestTaskLineHeight;
  }
  
  .task-icon {
    width: $latestTaskLineHeight;
    height: $latestTaskLineHeight;
    line-height: ($latestTaskLineHeight - 2 * 4px);
    font-size: $latestTaskLineHeight * 0.5;
    color: #555;
    border-color: #3a3a3a;
    background: #333;
  }
  
  .task-reward {
    background: #333;
    color: #555;
    border-color: #3a3a3a;
    height: $latestTaskLineHeight;
    width: $latestTaskLineHeight;
    line-height: ($latestTaskLineHeight - 2 * 8px);
    font-size: $latestTaskLineHeight * 0.5;
  }
}

.task-grid {
  -webkit-flex: 1;
  
  display: -webkit-flex;
  -webkit-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
  -webkit-align-content: space-around;
  
  .task {
    @include flex-vertical;
    
    width: 25vw;
    background: rgba(255,255,255,0.1);
    text-align: center;
    padding: 2vw 2vh;
    border-radius: 2vw;
    
    .task-cover {
      -webkit-flex: 1;
      padding-bottom: 2vh;
    }
    
    .task-reward {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      line-height: (100px - 2 * 8px);
      font-size: 48px;
    }
    
    .task-title {
      font-size: 0.75 * $baseFontSize;
      line-height: 1.1;
    } 
  }
}

.task-detail-reward {
  -webkit-flex:1;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
}

.task-detail-author {
  border-top: 0 none;
  box-shadow: none;
  padding: 0;
  background: rgba(255,255,255,0.05);
  @include flex-horizontal;
}

.task-detail-date {
  border-top: 0 none; 
  box-shadow: none;
  padding: 0;
  background: rgba(255,255,255,0.05);
  display: -webkit-flex;
  -webkit-flex-direction: row;
  text-align: left;
  a {
    -webkit-flex:1;
  }
}

.task-participants {
  -webkit-justify-content: center;
}

.task-participant {
  @include flex-horizontal;
  -webkit-justify-content: center;
}

@-webkit-keyframes shake {
	0%   { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10%  { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20%  { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30%  { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40%  { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50%  { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60%  { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70%  { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80%  { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90%  { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
	-webkit-animation-name: shake;
	-webkit-animation-duration: 0.5s;
	-webkit-transform-origin: 50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
